# Editors and IDE
*.vscode/
*.code-workspace

# Prerequisites
*.d

# Object files
*.o
*.obj
*.elf

# Linker output
*.map

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Directories
*build/
*bin/
*lib/
